@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.navbar__menu {
  position: fixed;
  width: 10%;
  height: 100%;
  right: 5%;
  top: 2%;
}

.navbar__menu li {
  display: flex;
  background: rgb(180, 162, 58);
  height: 100%;
  width: 100%;
  margin: 20px;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: medium;
  color: #fff;
  letter-spacing: 0.2em;
}
.navbar__menu li:hover {
  transform: scale(1.3);
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
  color: rgb(47, 41, 41);
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 55px;
  color: #fff;
  letter-spacing: 8px;
  text-align: center;
}
#containerInfo {
  position: relative;
  width: 72%;
  top: 80px;
  display: flex;
  flex-wrap: wrap;
  left: 9%;
}

#intro {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  width: 280px;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  color: #fff;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 5px;
  font-family: "Staatliches", cursive;
}

main {
  margin: 8vh;
}
.main__hero {
  position: absolute;
}
.landing__container {
  margin: 10px;
}

.landing__container img {
  position: absolute;
  margin: 10px;
  height: 300px;
  width: 300px;
}
#tommy {
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

section {
  position: relative;
  width: 82%;
  min-height: 91vh;
  background: #202020;
  background-clip: content-box;
  background-size: cover;
}
section:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Skills and Education */

.skills_education {
  position: absolute;
  width: 100%;
  height: 100%;
}

.skills-wrapper {
  width: 50%;
  float: left;
  height: 100%;
  position: absolute;
}
.skills {
  position: absolute;
  top: 40%;
  left: 16%;
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: url("../images/mountain.jpg");
}

.slider {
  top: 14px;
  height: 173px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(90px * 17);
  animation: scroll 30s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-90px * 17));
  }
}

.slide {
  height: 123px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.iconify {
  width: 100%;
  transition: transform 1s;
}

.iconify:hover {
  transform: translateZ(10px);
}

.iconify {
  font-size: 70px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 0) 46%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.education {
  position: relative;
  right: 34px;
  top: 120px;
  width: 49%;
  float: right;
  height: 80%;
  background: url(../images/university.jpeg);
  background-size: cover;
}
.education::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/paint.jpeg");
  background-size: 880px;
  background-position: center;
  mix-blend-mode: screen;
}

/* Employers */

#employerHeader {
  position: relative;
  text-align: center;
  color: #eee;
}

.wrapper {
  position: absolute;
  top: 8%;
  left: 25%;
  font-weight: bold;
  font-family: "Arimo", sans-serif;
  height: 85%;
  width: 49%;
  overflow-y: auto;
}
.wrapper h2 {
  text-align: center;
  color: rgb(27, 27, 27);
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}
.wrapper h2:hover {
  background-color: seagreen;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  cursor: pointer;
  padding: 10px;
}

ul ul li {
  padding: 10px;
  background: #59abe3;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul {
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul {
  height: 100%;
  transform-origin: top;
  transition: transform 0.2s ease-out;
  transform: scaleY(1);
}

/* Hobbies */

section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

section .set div {
  position: absolute;
  display: block;
}
section .set div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

section .set div:nth-child(1) {
  left: 10%;
  animation: animate 15s linear infinite;
  animation-delay: -2s;
}
section .set div:nth-child(2) {
  left: 20%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
section .set div:nth-child(3) {
  left: 30%;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}
section .set div:nth-child(4) {
  left: 40%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
section .set div:nth-child(5) {
  left: 50%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}
section .set div:nth-child(6) {
  left: 90%;
  animation: animate 12s linear infinite;
  animation-delay: -20s;
}
section .set div:nth-child(7) {
  left: 80%;
  animation: animate 8s linear infinite;
  animation-delay: -2s;
}
section .set div:nth-child(8) {
  left: 70%;
  animation: animate 11s linear infinite;
  animation-delay: -13s;
}
section .set div:nth-child(9) {
  left: 60%;
  animation: animate 18s linear infinite;
  animation-delay: -16s;
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -50%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
