@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:wght@200&display=swap");
body {
  background-color: #f7347a;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.navbar__menu {
  text-align: center;
  background: transparent;
  position: fixed;
  width: 20%;
  height: 44%;
  right: 0;
}

.navbar__menu li {
  font-family: "Permanent Marker", cursive;
  display: block;
  padding: 10px;
  margin: 5px;
  background: rgb(118, 130, 141);
  box-shadow: 5px solid orange;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 55px;
  color: #fff;
  letter-spacing: 8px;
}
#intro {
  position: absolute;
  right: 20%;
  bottom: 55%;
  font-style: italic;
  padding: 5px;
  width: 350px;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  color: #fff;
}

p {
  color: #fff;
  font-size: 18px;
  margin: 5px;
  font-family: "Permanent Marker", cursive;
}

main {
  margin: 8vh;
}
.main__hero {
  position: absolute;
}
.landing__container {
  margin: 10px;
}

.landing__container img {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  border: 5px solid #555;
  margin: 15px;
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

section {
  position: relative;
  width: 80%;
  min-height: 90vh;
  background-image: url("../images/rocket.jpg");
  background-clip: content-box;
  background-size: cover;
}

.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.split {
  position: absolute;
  margin: 3%;
  display: flex;
  width: 90%;
  height: 70%;
  background: #fff;
}

#skills {
  padding: 1rem;
  color: transparent;
  width: 45%;
  overflow: scroll;
}
#talent,
#edu {
  color: #000;
  text-align: center;
}

#eduList {
  position: absolute;

  width: 45%;
  height: 600px;
  margin: auto;
}
.iconify {
  margin: 20px;
  font-size: 40px;
}

#employers {
  background: red;
  border: 1px solid #fff;
  padding: 0.5rem;
  flex-grow: 1;
}

.your-active-class {
  border-radius: 15px;
}

#button {
  width: 100px;
  height: 26px;
  text-align: center;
  color: #fff;
  background: tomato;
}
