body {
  background-image: url("../images/swirls.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Merriweather", serif;
}

/* Typeography General*/
h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 55px;
  color: #fff;
  text-emphasis: filled double-circle red;
  -webkit-text-emphasis: filled double-circle red;
}

h2 {
  font-family: "Oxygen", Sans-Serif;
  font-size: 30px;
  color: #fff;
}

p {
  line-height: 1.3;
  color: #000;
  font-size: 22px;
  margin: 5px;
  font-family: "Permanent Marker", cursive;
}

main {
  margin: 13vh;
}

.main-hero {
  min-height: 40vh;
}
.landing__container {
  margin: 10px;
}

section {
  position: relative;
  min-height: 90vh;
}

.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}
.navbar__menu {
  background: chocolate;
  position: fixed;
  width: 100%;
  height: 70px;
}
.navbar__menu li {
  display: inline-block;
  margin: 20px;
  background: deepskyblue;
  height: 100%;
  position: relative;
  border-radius: 5px;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  color: #fff;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
}

.navbar__menu .menu__link.active {
  background: rgba(51, 51, 51, 0.205);
}

.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.page__footer {
  background: dodgerblue;
  height: 75px;
}

.page__footer p {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: center;
}

.your-active-class {
  background: slategray;
  opacity: 0.79;
  border-radius: 15px;
  transform: skewX(9deg);
}

#button {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  color: #333;
  background: tomato;
}
